# Databases
SCYLLA_HOST=127.0.0.1
SCYLLA_KEYSPACE=

REDIS_HOST=127.0.0.1:6379

# Equinox
PORT=4000
DOMAIN= # Allow origins Ex: https://*.localhost
PASSWORD_HASHING_SALT= #(number) Ex: 12
ENCRYPTION_KEY= # MUST BE EITHER 16, 24 OR 32 BYTES
ENABLE_CLOUDFLARE_IP=false # Set to false to disable Cloudflare IP detection