PORT=4000
VERSION=0.0.1

# Features:
CAPTCHA=false
EMAIL=false
INVITE_ONLY=false

# Sessions (optional):
# SESSION_TTL_SECONDS=604800
# SESSION_TOKEN_BYTES=32

# Database:
SCYLLA_HOSTS=
SCYLLA_KEYSPACE=
