Hi {{.Username}},

Someone asked to reset the password of your account on {{.InstanceName}}. If that was
you, open this link to choose a new one:

{{.Link}}

The link works once and expires in {{.ExpiresIn}}. If you did not ask for this, ignore
this email - your password stays as it is.

- {{.InstanceName}}
